@charset "UTF-8";

/*
Paleta de cores:


#CEA0AE
#684551
#FCA311
#402E2A
#DDFFF7

*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;


}

header {
    padding: 20px;
    background-color: var(--cor2);
    text-align: center;



}

header nav {

    text-align: left;
    background-color: var(--cor2);


}




header h1 {

    float: right;
    font-size: 30px;
    background-color: var(--cor2);

}



header img {

    display: block;
    width: 100px;
    padding-bottom: 20px;
    float: right;
    transform: translate(-20%, -20%);
    background-color: var(--cor2);

}

header nav a {
    padding: 10px;
    text-decoration: none;
    border: 1px solid var(--cor3);
    color: var(--cor3);
    border-radius: 5px;
    background-color: var(--cor2);
}

header nav a:hover {
    border: 2px solid #241c1a;

    color: var(--cor3);
}


h1 {
    padding: 10px;
}


main h1 {

    justify-content: bottom;
}

main {


    margin-top: 50px;
    display: block;

}

article {

    float: left;

    width: 50%;
    height: 50vh;

}

article p {
    margin: 10px;
}

article h1 {
    font-size: 50px;
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;


}

aside img {

    display: block;

    width: 30vw;
    height: 50vh;

    padding-left: 125px;
    padding-bottom: 30px;


}

aside {

    width: 50%;

    float: right;
}


:root {

    --cor0: #CEA0AE;

    --cor1: #684551;

    --cor2: #FCA311;

    --cor3: #402E2A;

    --cor4: #DDFFF7;



}

@media only screen and (max-width: 800px) {

    header h1 {

        display: none;

    }

    aside {
        width: 90%;

    }

    aside img {
        width: 70%;
        height: 50vh;
        padding-top: 200px;
        padding-left: 50px;
    }

    article {
        width: 95vw;
        height: 10vh;
    }

    article h1 {
        font-size: 35px;
        margin: 50px;

    }


}

@media only screen and (min-width:800px) and (max-width: 1200px) {

    header h1 {

        display: none;

    }

    aside {
        width: 90%;
        display: inline-block;
    }

    aside img {
        width: 65%;
        height: vh;
        padding-left: 80px;
    }

    article {
        width: 95vw;
    }

    article h1 {
        font-size: 35px;
    }
}